.worker{
    display: flex;
    margin: 0 0 3em 0;
    padding: 0;
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
    width:70vw;
    border-radius: 5px;
}

.cell{
    box-sizing: border-box;
    flex-grow: 1;
    padding: 0.8em 1.2em;
    overflow: hidden; 
    list-style: none;
    
}
