div.bookingScreen h1{
    justify-content: flex-end;
}
div.bookingScreen div.statusRow{
    display: flex;
    justify-content: center;
}
div.bookingScreen div.image{
    display: flex;
    justify-content: center;
}
div.bookingScreen div.bookingrowInfo{
    display: flex;
    flex-direction: column;

    align-items: center;
}

div.bookingScreen div.statusColumn{
    /* color: greenyellow; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    
}
@media (max-width: 600px){
    div.bookingScreen div.statusColumn{
        font-size: 20px;
        
    }
    div.bookingScreen div.bookingrowInfo{
        font-size: 22px;
    }


}
