.item2 { 
    /* grid-area: menu;  */
    grid-column: 1;
    grid-row: 1 / span 2;
    vertical-align:middle;
}
.item3 {
    /* grid-area: main;  */
    grid-column: 2 / span 2;
    grid-row: 1 ;
    font-size:xx-large;
}
.item4 { 
    /* grid-area: right;  */
    grid-column: 2 / span 2;
    grid-row: 2 ;
}

.grid-container {
display: flex;
/* grid-template-areas:
    'menu menu main main main main'
    'menu menu right right right right'; */
}

.grid-container > div {
text-align: center;
}

