.Model-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Model-image {
    height: 540px;
    width: 380px;
    border: 1px solid black;
}

.Model-basic-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}