h1{
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ADFF00;
    text-shadow: 2px 2px #c4c4c4;
}
/* table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    position: relative;
    table-layout: fixed;
    font-size: larger;
    text-align: center;
}
table tr:hover{
    background-color: #c4c4c4;
}

table td{
    padding:10px;
    border: 2px black solid;
    font-weight: bold;
    display: inline-block;
    text-align: left;
} */
.update{
    padding-top: 20px;
    
}