.btn{
    font-size: 15px;
    background-color: white;
    border-radius: 8px;
}
h1{
    text-shadow: 2px 2px #c4c4c4;
  }
table{
    border-spacing: 1;
    border-collapse: collapse;
    background: #c4c4c4;
    border-radius: 5px;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    position: relative;
}
table th{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #4EBCEC;
    color: white;
}
table tr:hover{
    background-color: gray;
}
table td, table th{
    padding:10px;
}