/* .btnAcc{
    font-size: 25px;
    color: white;
    font-weight: bold;
    background-color: #29C454;
    border-radius: 40px;
    width: 150px;
    height: 50px;
    border-color: #29C454;
    margin-right: 500px;
}
.btnRej{
    font-size: 25px;
    color: white;
    font-weight: bold;
    background-color: #C42929;
    border-radius: 40px;
    width: 150px;
    height: 50px;
    border-color: #C42929;
} */
.buttons{
    padding-top: 20px;
}
