div.productsViewScreen div.heading {
    text-align: center;
    font-size: 45px;
    margin-top: 30px;
    font-weight: '600';
    font-family: 'Secular One', sans-serif;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.21), 0px 0px 5px greenyellow;
    
}
div.productsViewScreen div.imgNcolors{
    display: flex;
    flex-direction: column;
    align-items: center;

}

div.productsViewScreen div.image{
    display: flex;
    justify-content: center;
    /* margin: 25px; */
}

div.productsViewScreen div.colors{
    display: flex;
    margin: 20px;
}

div.productsViewScreen .featureColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Secular One', sans-serif;
    text-align: center;
    padding: 0 3px;

}

div.productsViewScreen .features{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    
}

div.productsViewScreen .featureAvatar{
    height: '70px';
    width: '70px';
    margin: 15px;
}
div.productsViewScreen .f1{
    display: flex;
    justify-content: end;
}

div.productsViewScreen div.uniqueFeatureCol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


div.productsViewScreen div.highlightUniqueFeature{
    font-size: 48px;
    font-family: 'Secular One', sans-serif;
    padding: 10px;
    color: #27BEFF;
    background-color: whitesmoke;
    text-align: center;
    width: 104px;
    height: 104px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}
div.productsViewScreen div.unithighlight{
    font-size: 20px; 
    font-weight: bold;
}
div.descUniqueFeature{
    font-size: 24px;
    font-family: 'Secular One', sans-serif;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    
}

div.productsViewScreen div.knowMoreButtonDiv{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    
    font-family: 'Secular One', sans-serif;
    font-size: 32px;
    color: #27BEFF;
    background-color: white;
    border-radius: 22px;
    width: max-content;
    padding: 10px;
    padding-left: 18px;

}

div.productsViewScreen div.bookNowButtonDiv{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);

    font-family: 'Secular One', sans-serif;
    font-size: 40px;
    color: #FF9B04;
    background-color: white;
    border-radius: 22px;
    width: max-content;
    padding: 10px;
    /* padding-left: 18px; */
    border: 4px solid #FF9B04;
}


div.productsViewScreen div.takeTestDriveButtonDiv{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);

    font-family: 'Secular One', sans-serif;
    font-size: 40px;
    color: #1F64CC;
    background-color: white;
    border-radius: 22px;
    width: max-content;
    padding: 10px;
    /* padding-left: 18px; */
    border: 4px solid #1F64CC;
}


div.productsViewScreen div.chatBotButtonDiv{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);

    font-family: 'Secular One', sans-serif;
    font-size: 40px;
    color: #FFD700;
    background-color: white;
    border-radius: 22px;
    width: max-content;
    padding: 10px;
    /* padding-left: 18px; */
    border: 4px solid #FFD700;
}

div.productsViewScreen div.buttonPara{
 font-size: 30px;   
 font-family: 'Secular One', sans-serif;
margin-top: 10px;
margin-bottom: 10px;
text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);


}






/* ! MEDIA QUERY */
@media only screen and (max-width: 700px) {
    div.productsViewScreen .f1{
        
        justify-content: space-evenly;
    }
    div.productsViewScreen .featureColumn{

        padding: 0px 5px;
        /* font-size: 5px !important; */
    }
    div.productsViewScreen .features{
        justify-content: space-evenly;

    }
    div.productsViewScreen .imageGrid{
        order: 1;
    
    }
    
    div.productsViewScreen .featureAvatars1{
        order:2;
        /* flex-direction: row; */
        
    }
    
    div.productsViewScreen .featureAvatars2{
        order:3;
        /* flex-direction: row; */
    }

    div.productsViewScreen .highlightsDiv{

        margin: 0 !important;
        margin-top: 40px;
    }
}

@media (max-width: 960px){
    div.productsViewScreen .imageGrid{
        order: -1;
    
    }
    
    div.productsViewScreen .featureAvatars1{
        order:2;
        flex-direction: row;
        
    }
    
    div.productsViewScreen .featureAvatars2{
        order:3;
        flex-direction: row;
    }
    div.productsViewScreen .features {
        flex-direction: row;
    }

    div.productsViewScreen .highlightsDiv{

        margin: 10px !important;
        margin-top: 40px !important;
    }
    
}

@media (min-width: 960px){
    div.productsViewScreen .highlightsDiv{

        margin: 70px !important;
        margin-top: 40px !important;
    }

}
@media (max-width: 600px){
    div.productsViewScreen div.image{
        /* display: flex;
        justify-content: center; */
        /* margin: 25px; */
        height: 220px;
        width: 220px;
    }
    div.productsViewScreen div.heading{
        font-size: 30px;
        text-align: center;

    }
}

